button {
    width: 200px;
    height: 25px;
    margin: 5px;
}

input {
    width: 200px;
    height: 18px;
    margin: 5px;
}

li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 5px;
}

h2 {
    color: rgb(2, 101, 194);
}